@import '../components/header.css';
@import './components/service-banner.css';
@import './components/explanatory.css';
@import './components/warning.css';
@import './components/assistance.css';
@import './components/plans.css';
@import './components/hand-shake.css';
@import './components/dark-footer.css';

:root {
  --primary: #FFCD00;
  --secondary: #3F4444;
}

html, body {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden !important;
}

body {
  background-color: #fff;
}

.show-in-small {
  display: none !important;
}

/* xs */
@media (max-width: 600px) {
  .show-in-small {
    display: block !important;
  }

  .hide-in-small {
    display: none !important;
  }
}

