.about {
  margin-top: 140px;
  /* padding: 0 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about .content {
  width: 80%;
}

.about .title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 50px;
}

.about .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.about .about-text {
  color: #FFF;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

.about .collaboration {
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  margin-top: 50px;
  justify-content: space-between;
}

.about .youtube-card {
  width: 500px;
  height: 378px;
  background: #D9D9D9;
}

.usp-logo {
  width: 120px;
  height: 120px;
}

.fundetec-logo {
  width: 73px;
  height: 68px;
}

.pti-logo {
  width: 159px;
  height: 80px;
}

.sicoob-logo {
  width: 120px;
  height: 120px;
}

/* xs */
@media (max-width: 600px) {
  .about {
    margin-top: 80px;
    /* padding: 0 20%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about .title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 18px;
    text-align: center;
  }

  .about .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .about .about-text {
    color: #FFF;
    font-family: Kanit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 150% */
  }

  .about .collaboration {
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-family: Kanit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 187.5% */
    margin-top: 20px;
    justify-content: space-between;
  }

  .usp-logo {
    width: 52px;
    height: 52px;
  }

  .fundetec-logo {
    width: 35px;
    height: 35px;
  }

  .pti-logo {
    width: 70px;
    height: 34px;
  }

  .sicoob-logo {
    width: 52px;
    height: 52px;
  }

  .about .youtube-card {
    width: 100%;
    height: 165px;
    background: #D9D9D9;
    border-radius: 16px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .about {
    margin-top: 80px;
    /* padding: 0 20%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about .title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 18px;
    text-align: center;
  }

  .about .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .about .about-text {
    color: #FFF;
    font-family: Kanit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 150% */
  }

  .about .collaboration {
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-family: Kanit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 187.5% */
    margin-top: 20px;
    justify-content: space-between;
  }

  .usp-logo {
    width: 52px;
    height: 52px;
  }

  .fundetec-logo {
    width: 35px;
    height: 35px;
  }

  .pti-logo {
    width: 70px;
    height: 34px;
  }

  .sicoob-logo {
    width: 52px;
    height: 52px;
  }

  .about .youtube-card {
    width: 100%;
    height: 165px;
    background: #D9D9D9;
    border-radius: 16px;
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}