.banner {
  background-color: var(--primary);
  height: 122vh;
  position: relative;
}

.banner .hoxagons {
  height: 80%;
  width: fit-content;
  position: absolute;
  right: 0;
}

.hoxagons img {
  height: 100%;
}

.banner .smiling {
  height: 100%;
  width: fit-content;
  position: absolute;
  right: 65px;
  /* z-index: 9; */
}

.smiling img {
  height: 100%;
}

.text-card {
  background-image: url("../../assets/images/banner/text-card-bg.png");
  width: 50%;
  height: 80%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
}

.text-card .text {
  color: #FFF;
  font-family: Raleway;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  /* 119.5% */
  letter-spacing: 4.7px;

  position: absolute;
  top: 25%;
  right: 90px;
}

.text-card .text .bold {
  font-weight: 800;
}

.bold.primary {
  color: var(--primary) !important;
}

.text-card .golden-line {
  height: 70%;
}

.golden-line img {
  height: 100%;
}