.details {
  padding: 100px 0;
  background: #FFCD00;
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 50px 0;
}