.details {
  padding: 100px 0;
  background: #FFCD00;
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: -2px;
  /* margin: 50px 0; */
}

.details-action {
  background-image: url("../../../assets/images/details/action-bg.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 180px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  /* 85.938% */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
}

.details-action:hover {
  cursor: pointer;
  zoom: 1.01;
}

/* xs */
@media (max-width: 600px) {
  .details {
    padding: 50px 0;
    font-size: 24px;
    /* margin: 50px 0; */
    flex-direction: column;
    gap: 15px;
  }

  .details-action {
    width: 100px;
    height: 100px;
    font-size: 18px;
    line-height: 18px;
    /* 85.938% */
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {}