.feedbacks {
  margin-top: 140px;
  /* padding: 0 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

.feedbacks .content {
  width: 80%;
}

.feedbacks .title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 50px;
}

.feedbacks .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.feedbacks .items .item {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 470px;
  background-image: url("../../assets/images/feedbacks/baloon.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 30px;
}

.feedbacks .items .item .title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 18.4px;
  margin-top: 20px;
  /* 76.667% */
}

.feedbacks .items .item .description {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.4px;
  /* 153.333% */
}

/* xs */
@media (max-width: 600px) {
  .feedbacks {
    margin-top: 25px;
    /* padding: 0 20%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
  }

  .feedbacks .title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
  }

  .feedbacks .items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .feedbacks .items .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/feedbacks/baloon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 10px;
    padding-bottom: 70px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .feedbacks {
    margin-top: 25px;
    /* padding: 0 20%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
  }

  .feedbacks .title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
  }

  .feedbacks .items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .feedbacks .items .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/feedbacks/baloon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 10px;
    padding-bottom: 70px;
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}