.footer {
  background: #fff;
  padding-top: 35px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
}

.footer .col {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .col .cnpj {
  color: #6D7280;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 152.941% */
  margin-top: 15px;
}

.footer .col .contact {
  color: #7A7A7A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-align: center;
  margin-bottom: 13px;
}

.footer-last {
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  background: #fff;
  padding-bottom: 12px;
  /* 236.364% */
}