.header {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.header .logo {
  height: 40px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
}

.header-menu .item {
  color: #3F4444;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

/* xs */
@media (max-width: 600px) {
  .header {
    background: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .logo {
    height: 20px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .header {
    background: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .logo {
    height: 20px;
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}
