.searchers {}

.searchers-list {
  --s: 11%;
  /* size  */
  --m: 1px;
  /* margin */
  /* --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px); */
}

.slist {
  font-size: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.hex-item {
  margin-top: 50%;
  color: #FFF;
  text-shadow: 0px -4px 4px #866B3B;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.4px; /* 76.667% */
}

.hex-selectable {
  cursor: pointer;
  transition: transform .2s;
}

.hex-selectable:hover {
  transform: scale(1.1);
  z-index: 99;
  /* background-color: #FFCD00; */
  background-color: transparent;
}

.slist div {
  width: var(--s);
  /* margin: var(--m); */
  height: calc(var(--s)*1.1547);
  text-align: center;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  /* background: #FFE67F; */
  background-color: transparent;
  margin-bottom: -60px;
  margin-right: -9px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.slist div:nth-child(odd) {
  /* background: #FFE67F; */
  background: transparent;
}

.slist::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
      #000 0 var(--f));
}

.searchers.title {
  color: #FFCC03;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 118.75% */
  letter-spacing: 1px;
  margin-top: 150px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchers.title div {
  width: 80%;
}

.searchers.bottom-title {
  color: #FFCC03;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 118.75% */
  letter-spacing: 1px;
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchers.bottom-title div {
  width: 80%;
  text-align: right;
}

/* xs */
@media (max-width: 600px) {
  .searchers.title {
    color: #FFCC03;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 10px; /* 118.75% */
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchers.title div {
    width: 70%;
  }

  .searchers.bottom-title {
    color: #FFCC03;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 10px; /* 118.75% */
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchers.bottom-title div {
    width: 80%;
    text-align: right;
  }

  .slist div {
    width: var(--s);
    /* margin: var(--m); */
    height: calc(var(--s)*1.1547);
    text-align: center;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    /* background: #FFE67F; */
    background-color: transparent;
    margin-bottom: -15px;
    margin-right: -3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .searchers.title {
    color: #FFCC03;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 10px; /* 118.75% */
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchers.title div {
    width: 70%;
  }

  .searchers.bottom-title {
    color: #FFCC03;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 10px; /* 118.75% */
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchers.bottom-title div {
    width: 80%;
    text-align: right;
  }

  .slist div {
    width: var(--s);
    /* margin: var(--m); */
    height: calc(var(--s)*1.1547);
    text-align: center;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    /* background: #FFE67F; */
    background-color: transparent;
    margin-bottom: -15px;
    margin-right: -3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}