.services {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .services .title {
  background: blue;
  color: red;
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  width: 600px;
  height: 700px;
  border-radius: 50px;
  border: 1px solid pink;
} */

#servicesTitle {
  width: 600px;
  height: 500px;
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  justify-content: center;
  font-size: initial;
  /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 35%, 0% 0%, 0% 50%, 100% 50%, 100% 35%, 50% 0%);
  margin-top: -225px;
}

.services .title span {
  margin-top: 100px;
  color: #FFCD00;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 28.9px;
  /* 72.25% */
  letter-spacing: -0.4px;
}

.services-list {
  --s: 253px;
  /* size  */
  --m: 1px;
  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  margin-top: -340px;
  z-index: 99;
}

/* .services-list .list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  background-color: #FFE67F;
  color: var(--primary);
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  border: 1px solid red;
} */

.list {
  font-size: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.hex-item {
  margin-top: 50%;
  color: #FFF;
  text-shadow: 0px -4px 4px #866B3B;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.4px; /* 76.667% */
}

.hex-selectable {
  cursor: pointer;
  transition: transform .2s;
  background: #FFE67F;
}

.hex-selectable:hover {
  transform: scale(1);
  background-color: #FFCD00 !important;
}

.list div {
  width: var(--s);
  /* margin: var(--m); */
  height: calc(var(--s)*1.1547);
  text-align: center;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #FFE67F;
  margin-bottom: calc(var(--m) - var(--s)*0.2940);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

/* .list div:nth-child(odd) {
  background: #FFE67F;
} */

.list::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
      #000 0 var(--f));
}