.simple-list-service {
  margin-top: 65px;
  /* padding: 0 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../../../assets/images/details/triangle-bottom-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 25%;
  padding-bottom: 50px;
}

.simple-list-service .content {
  width: 70%;
}

.simple-list-service .title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 50px;
}

.service-card-list {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.card-image {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.card-image img{
  width: 100%;
}

.card-content {
  padding: 30px;
  background: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 200px;
  position: relative;
}

.card-title {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-description {
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-action {
  color: #FFCD00;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  bottom: 30px;
  position: absolute;
}

/* xs */
@media (max-width: 600px) {
  .simple-list-service .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .simple-list-service .content {
    width: 90%;
  }

  .service-card-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  
  .service-card {
    display: flex;
    flex-direction: column;
    max-width: 45%;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 12px;
  }
  
  .card-action {
    font-size: 16px;
    bottom: 10px;
    position: absolute;
  }

  .card-content {
    padding: 10px;
    gap: 10px;
    height: 220px;
    position: relative;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .simple-list-service .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .simple-list-service .content {
    width: 90%;
  }

  .service-card-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  
  .service-card {
    display: flex;
    flex-direction: column;
    max-width: 45%;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 12px;
  }
  
  .card-action {
    font-size: 16px;
    bottom: 10px;
    position: absolute;
  }

  .card-content {
    padding: 10px;
    gap: 10px;
    height: 220px;
    position: relative;
  }
}