@import './components/header.css';
@import './components/banner.css';
@import './components/services.css';
@import './components/how-it-works.css';
@import './components/numbers.css';
@import './components/about-section.css';
@import './components/feedbacks.css';
@import './components/posts.css';
@import './components/footer.css';
@import './components/searchers.css';

:root {
  --primary: #FFCD00;
  --secondary: #3F4444;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--secondary);
}

/* xs */
@media (max-width: 600px) {}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}
