@import './components/header.css';
@import './components/banner.css';
@import './components/services.css';
@import './components/how-it-works.css';
@import './components/numbers.css';
@import './components/about-section.css';
@import './components/feedbacks.css';
@import './components/posts.css';
@import './components/footer.css';
@import './components/searchers.css';
@import './components/simple-list-service.css';
@import './components/details.css';

:root {
  --primary: #FFCD00;
  --secondary: #3F4444;
}

html, body {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden !important;
}

body {
  background-color: var(--secondary);
}

.show-in-small {
  display: none !important;
}

.wts-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.wts-btn button {
  cursor: pointer;
}

.wts-btn button:hover {
  zoom: 1.01;
}

/* xs */
@media (max-width: 600px) {
  .show-in-small {
    display: block !important;
  }

  .hide-in-small {
    display: none !important;
  }
}

.hide {
  display: none;
}


/* xs */
@media (max-width: 600px) {
  .wts-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .wts-btn img {
    width: 40px;
    height: 40px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .wts-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .wts-btn img {
    width: 40px;
    height: 40px;
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}
