.assistance.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 88px 0;
  padding-bottom: 160px;
  color: #3F4444;
  font-family: Montserrat;
}

.assistance.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  /* gap: 50px; */
  justify-content: space-evenly;

}

.assistance.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 56px;
}

.assistance-item.content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 230, 127, 0.50);
  gap: 18px;
  padding-bottom: 11px;
  margin-bottom: 25px;
  position: relative;
}

.assistance-item.icon {
  margin-right: 15px;
  padding-top: 10px;
}

.assistance-item.action {
  color: #FFCD00;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: pointer;
}

.assistance .item {
  display: flex;
  flex-direction: row;
  width: 45%;
}

.assistance .item .subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.assistance .item .description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}