.footer {
  background: #3F4444;
  padding-top: 35px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
}

.footer-logo {
  width: 265px;
}

.footer .col {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .col .cnpj {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 152.941% */
  margin-top: 15px;
}

.footer .col .contact {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  text-align: center;
  margin-bottom: 13px;
}

.footer-last {
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  background: #3F4444;
  color: #fff;
  padding-bottom: 12px;
  /* 236.364% */
}

.social-footer {
  /* height: 15vh; */
}

.social-hive {
  /* height: 15vh; */
  /* width: 30%; */
  /* background-image: url("../../assets/images/footer/social-border.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 15px; */
}

.social-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-social {
  margin-left: 37px;
}

.bottom-social {
  margin-left: 90px;
  margin-top: -20px;
}

.social-icon {
  width: 30px;
  height: auto;
}

.social-icon:hover {
  cursor: pointer;
}

.hive-item {
  background-image: url("../../../assets/images/footer/hive-item.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}

/* xs */
@media (max-width: 600px) {
  .footer-logo {
    width: 80px;
  }

  .footer .col .cnpj {
    color: #fff;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 152.941% */
    margin-top: 7.5px;
  }

  .footer .col .contact {
    color: #fff;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 150% */
    text-align: center;
    margin-bottom: 2.5px;
  }

  .footer-last {
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    background: #3F4444;
    color: #fff;
    padding: 6px;
    /* 236.364% */
  }

  .social-footer {
    /* height: 15vh; */
  }
  
  .social-hive {
    /* height: 15vh; */
    /* width: 30%; */
    /* background-image: url("../../assets/images/footer/social-border.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
  }
  
  .social-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .top-social {
    margin-left: 37px;
  }
  
  .bottom-social {
    margin-left: 70px;
    margin-top: -15px;
  }
  
  .social-icon {
    width: 15px;
    height: auto;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  .hive-item {
    background-image: url("../../../assets/images/footer/hive-item.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {
  .footer-logo {
    width: 80px;
  }

  .footer .col .cnpj {
    color: #fff;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 152.941% */
    margin-top: 7.5px;
  }

  .footer .col .contact {
    color: #fff;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 150% */
    text-align: center;
    margin-bottom: 2.5px;
  }

  .footer-last {
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    background: #3F4444;
    color: #fff;
    padding: 6px;
    /* 236.364% */
  }

  .social-footer {
    /* height: 15vh; */
  }
  
  .social-hive {
    /* height: 15vh; */
    /* width: 30%; */
    /* background-image: url("../../assets/images/footer/social-border.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
  }
  
  .social-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .top-social {
    margin-left: 37px;
  }
  
  .bottom-social {
    margin-left: 70px;
    margin-top: -15px;
  }
  
  .social-icon {
    width: 15px;
    height: auto;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  .hive-item {
    background-image: url("../../../assets/images/footer/hive-item.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
  }
}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}