.explanatory.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 123px 0;
  color: #3F4444;
  font-family: Montserrat;
}

.explanatory.content {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.explanatory .content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 33.33%;
  padding: 0 30px;
}

.explanatory .content .item:nth-child(-n + 2) {
  border-right: 1px solid #FFE67F;
}

.explanatory .content .item .title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.explanatory .content .item .description {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.explanatory .content .item .icon img {
  width: 60px;
  height: 60px;
}

@media (max-width: 600px) {
  .explanatory.content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .explanatory .content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: auto;
  }

  .explanatory .content .item:nth-child(-n + 2) {
    border-bottom: 1px solid #FFE67F;
    border-right: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .explanatory .content .item .description {
    font-size: 18px;
  }

  .explanatory.section {
    padding: 50px 0;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}
