.plans {
  padding-top: 85px;
  background: #FFCD00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.plans .title {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.plans .options-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
  gap: 20px;
  flex-wrap: wrap;
}

.plans .options-list-mentoring {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
  gap: 20px;
}

.plans .option-btn {
  padding: 20px 50px;
  border-radius: 16px;
  background: #C7C9C7;
  cursor: pointer;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  flex-grow: 1;
}

.option-btn.active {
  padding: 20px 50px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #FFCD00;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  flex-grow: 1;
}

.plans .description {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.plans-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.plan-option {
  background-color: #fff;
  padding: 21px 40px;
  border-radius: 16px;
  width: 40%;
  text-align: center;
}

.plan-title {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #3F4444;
}

.plan-option .content {
  width: 100%;
  background-image: url(../../../assets/images/services/mentoring/plan-bg.png);
  padding-top: 35px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.plan-option .small-quantity {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.plan-option .quantity {
  color: #3F4444;
  text-shadow: 0px 0px 40px #FFCD00;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.plan-option .quantity-description {
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.plan-option .simple-description {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plan-option .characteristics {
  margin-bottom: 20px;
}

.plan-option .white-divider {
  border-bottom: 1px solid #fff;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 37px;
}

.plan-option .select-message {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.plan-option label {
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.plan-option .radio-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan-option .submit {
  border: none;
  border-radius: 16px;
  background: #3F4444;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 10px;
  width: 70%;
  cursor: pointer;
}

.plans .explicative {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plans .small-explicative {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.plans .spacer {
  margin-bottom: 200px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 140px;
}

.plan-price {
  padding-top: 20%;
}

.price-title {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.price {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.limits-list {
  display: flex;
  flex-direction: column;
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.limits-list .number {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* xs */
@media (max-width: 600px) {
  .plans .options-list-mentoring {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: unset;
    margin-bottom: 40px;
    gap: 5px;
  }

  .plans .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plans .option-btn {
    padding: 20px;
    border-radius: 16px;
    background: #C7C9C7;
    cursor: pointer;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    flex-grow: initial;
  }

  .plans .title {
    color: #3F4444;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 20px;
  }

  .plans .description {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  .plans-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .plan-option {
    background-color: #fff;
    padding: 0;
    border-radius: 16px;
    width: 90%;
    text-align: center;
  }

  .plan-title {
    color: #3F4444;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #3F4444;
  }

  .plan-option .quantity {
    color: #3F4444;
    text-shadow: 0px 0px 40px #FFCD00;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .plan-option .quantity-description {
    color: #3F4444;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
  }

  .plan-option .small-quantity {
    color: #3F4444;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
  }

  .plan-option .simple-description {
    color: #3F4444;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .plan-option label {
    color: #3F4444;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .plan-option .white-divider {
    border-bottom: 1px solid #fff;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .plan-option .submit {
    border: none;
    border-radius: 12px;
    background: #3F4444;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .plans .explicative {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-description {
    display: flex;
    flex-direction: column;
    color: #3F4444;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 90%;
  }

  .plans .options-list {
    width: 90%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    gap: 7px;
  }

  .plans {
    padding-top: 50px;
  }

  .plans .small-explicative {
    width: 95%;
    margin-bottom: 0;
    font-size: 14px;
  }
}

/* sm */
@media (min-width: 400px) and (max-width: 960px) {}

/* md */
@media (min-width: 960px) and (max-width: 1280px) {}

/* lg */
@media (min-width: 1280px) and (max-width: 1920px) {}

/* xl */
@media (min-width: 1920px) and (max-width: 2560px) {}