.warning.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  padding-bottom: 44px;
  color: #fff;
  font-family: Montserrat;
  background-color: var(--secondary);
  position: relative;
}

.warning.content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.warning.text {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text.orange {
  color: #FFCD00;
}

.warning.subtext {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 70px;
}

.warning.explicit-text {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.price-box {
  width: 100%;
  background-color: #fff;
  border: 1px solid #FFCD00;
  color: blue;
  border-radius: 16px;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-box .line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-box .text-strong {
  color: #3F4444;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 40px;
}

.price-box .text-time {
  color: #3F4444;
  text-shadow: 0px 0px 40px #FFCD00;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 15px;
}

.price-box .text-time-description {
  color: #3F4444;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 30px;
}

.price-box .text-price {
  color: #FFCD00;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  margin-left: 30px;
  line-height: normal;
}

.price-box .divider {
  border-bottom: 1px solid #3F4444;
  width: 20%;
}

.price-box-informative {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 35px;
  width: 100%;
  text-align: center;
}

.price-box-informative.red {
  color: #950000;
}

.price-box-informative.u {
  text-decoration-line: underline;
}

.price-box-action {
  border-radius: 16px;
  background: #3F4444;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 40px;
  padding: 20px;
  width: 30%;
  cursor: pointer;
}

.warning .big-description {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.warning .action-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.warning-action {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: #FFCD00;
  padding: 10px 30px;
  width: fit-content;
}